<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957544714439-imnpvmmfl9989qi9f4purid4gvn3m0ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957544714439-imnpvmmfl9989qi9f4purid4gvn3m0ch</string>
	<key>API_KEY</key>
	<string>AIzaSyCe2FOSguNBhJU5avV5wAhi_bUX3JkBE6U</string>
	<key>GCM_SENDER_ID</key>
	<string>957544714439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.main.kaf8</string>
	<key>PROJECT_ID</key>
	<string>kaf8-37fbd</string>
	<key>STORAGE_BUCKET</key>
	<string>kaf8-37fbd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957544714439:ios:f6514f149889814a632ee2</string>
	<key>DATABASE_URL</key>
	<string>https://kaf8-37fbd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>